// app global css in SCSS form
.child-take-fullheight {
  display: flex;
  flex-direction: column;
  & > div:first-child {
    flex-grow: 1;
  }
}

.remove-input-number-indicator::-webkit-outer-spin-button,
.remove-input-number-indicator::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.remove-input-number-indicator[type='number'] {
  -moz-appearance: textfield;
}

/* Fixed minimum value below the minimum breakpoint */
.fluid {
  font-size: 14px;
}

/* Custom Padding */
@media screen and (max-width: 560px) {
  .py-xs-medium {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .ma-sm-none {
    margin: 0 auto;
  }
}

/* Fluid value from 568px to 768px viewport width */
@media screen and (max-width: 600px) {
  .fluid {
    font-size: 11px;
  }
}
