// Brand Color
.brand-header {
  background-color: $brand-header;
}
.brand-sub-header {
  background-color: $brand-sub-header;
}
// Primary Submit color for Buttons
// Secondary Primary color class name can be => brand-btn-secondary
.brand-btn {
  background-color: $brand-button;
}
.brand-footer {
  background-color: $brand-footer;
}
.brand-btn-close,
.brand-btn-disabled {
  background-color: $brand-disabled;
  color: grey;
}
// Disabled Button will not be Glossy(Gradient) unless specified in some condition
.brand-btn-disabled {
  pointer-events: none;
}
.brand-btn-reset {
  background-color: $brand-reset;
}
.brand-btn,
.brand-header {
  color: whitesmoke;
  letter-spacing: 0.1rem;
}

// app global css in SCSS form
.child-take-fullheight {
  display: flex;
  flex-direction: column;
  & > div:first-child {
    flex-grow: 1;
  }
}

.remove-input-number-indicator::-webkit-outer-spin-button,
.remove-input-number-indicator::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.remove-input-number-indicator[type='number'] {
  -moz-appearance: textfield;
}

/* Fixed minimum value below the minimum breakpoint */
.fluid {
  font-size: 14px;
}

/* Custom Padding */
@media screen and (max-width: 560px) {
  .py-xs-medium {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .ma-sm-none {
    margin: 0 auto;
  }
}

/* Fluid value from 568px to 768px viewport width */
@media screen and (max-width: 600px) {
  .fluid {
    font-size: 12px;
  }
  .text-h6-xs {
    font-size: 20px;
    font-weight: 500;
  }
}
